In [1]:
import pandas as pd
df = pd.read_csv('startup_funding.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 10 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
Remarks                    419 non-null object
dtypes: int64(1), object(9)
memory usage: 235.2+ KB

### Buat DataFrame yang mendeskripsikan Tiap Tiap kolom dari data Startup Funding

In [3]:
ListFitur = list(df.columns)
ListType = []
ListNull = []
ListPct = []
ListUniq = []
ListUniqs = []
for item in ListFitur:
    ListType.append(df[item].dtype)
    ListNull.append(df[item].isnull().sum())
    ListPct.append(round(df[item].isnull().sum() / len(df)) * 100)
    ListUniq.append(df[item].nunique())
    ListUniqs.append(list(df[item].value_counts().head(2).sort_index(ascending = True).index[0:2]))

data = {
    'dataFeatures' : ListFitur,
    'dataType' : ListType,
    'null' : ListNull,
    'nullPct': ListPct,
    'unique': ListUniq,
    'uniqueSample' : ListUniqs
}
pd.DataFrame(data)

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Sr No,int64,0,0.0,3009,"[1014, 2047]"
1,Date ddmmyyyy,object,0,0.0,1013,"[02/02/2015, 08/07/2015]"
2,Startup Name,object,0,0.0,2439,"[Ola Cabs, Swiggy]"
3,Industry Vertical,object,171,0.0,811,"[Consumer Internet, Technology]"
4,SubVertical,object,936,0.0,1912,"[Online Lending Platform, Online Pharmacy]"
5,City Location,object,180,0.0,109,"[Bangalore, Mumbai]"
6,Investorsxe2x80x99 Name,object,23,0.0,2385,"[Undisclosed Investors, Undisclosed investors]"
7,InvestmentnType,object,3,0.0,50,"[Private Equity, Seed Funding]"
8,Amount in USD,object,960,0.0,500,"[1,000,000, 500,000]"
9,Remarks,object,2590,100.0,72,"[Series A, Series B]"

### Hapus Kolom Remarks

In [4]:
df = df.drop('Remarks', axis = 1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 9 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
dtypes: int64(1), object(8)
memory usage: 211.6+ KB

### Hapus data yang kolom Industry Vertical dan Subverticalnya Kosong

In [6]:
df = df.dropna(subset=['Industry Vertical', 'SubVertical'], how = 'all')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2838 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                      2838 non-null int64
Date ddmmyyyy              2838 non-null object
Startup Name               2838 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2815 non-null object
InvestmentnType            2835 non-null object
Amount in USD              1918 non-null object
dtypes: int64(1), object(8)
memory usage: 221.7+ KB

### Hapus data yang Investorsxe2x80x99 Name atau InvestmentnType kosong atau City Location nya Kosong atau amount in usd nya kosong

In [8]:
df = df.dropna(subset=['Investorsxe2x80x99 Name'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2815 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                      2815 non-null int64
Date ddmmyyyy              2815 non-null object
Startup Name               2815 non-null object
Industry Vertical          2815 non-null object
SubVertical                2056 non-null object
City  Location             2806 non-null object
Investorsxe2x80x99 Name    2815 non-null object
InvestmentnType            2812 non-null object
Amount in USD              1899 non-null object
dtypes: int64(1), object(8)
memory usage: 219.9+ KB

In [10]:
df = df.dropna(subset=['City  Location'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2806 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                      2806 non-null int64
Date ddmmyyyy              2806 non-null object
Startup Name               2806 non-null object
Industry Vertical          2806 non-null object
SubVertical                2050 non-null object
City  Location             2806 non-null object
Investorsxe2x80x99 Name    2806 non-null object
InvestmentnType            2803 non-null object
Amount in USD              1895 non-null object
dtypes: int64(1), object(8)
memory usage: 219.2+ KB

In [12]:
df = df.dropna(subset=['InvestmentnType'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2803 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                      2803 non-null int64
Date ddmmyyyy              2803 non-null object
Startup Name               2803 non-null object
Industry Vertical          2803 non-null object
SubVertical                2047 non-null object
City  Location             2803 non-null object
Investorsxe2x80x99 Name    2803 non-null object
InvestmentnType            2803 non-null object
Amount in USD              1893 non-null object
dtypes: int64(1), object(8)
memory usage: 219.0+ KB

In [14]:
df = df.dropna(subset=['Amount in USD'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                      1893 non-null int64
Date ddmmyyyy              1893 non-null object
Startup Name               1893 non-null object
Industry Vertical          1893 non-null object
SubVertical                1373 non-null object
City  Location             1893 non-null object
Investorsxe2x80x99 Name    1893 non-null object
InvestmentnType            1893 non-null object
Amount in USD              1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Ubah Nama Kolom Investorsxe2x80x99 Name menjadi Investor

In [16]:
df = df.rename(columns={'Investorsxe2x80x99 Name': "Investor"})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1893 non-null int64
Date ddmmyyyy        1893 non-null object
Startup Name         1893 non-null object
Industry Vertical    1893 non-null object
SubVertical          1373 non-null object
City  Location       1893 non-null object
Investor             1893 non-null object
InvestmentnType      1893 non-null object
Amount in USD        1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Isi Kolom Subvertical yang kosong dengan kolom Industry Verticalnya

In [18]:
mode_V = df['Industry Vertical'].mode().values[0]
mode_V

'Consumer Internet'

In [19]:
df['SubVertical'] = df['SubVertical'].fillna(mode_V)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1893 non-null int64
Date ddmmyyyy        1893 non-null object
Startup Name         1893 non-null object
Industry Vertical    1893 non-null object
SubVertical          1893 non-null object
City  Location       1893 non-null object
Investor             1893 non-null object
InvestmentnType      1893 non-null object
Amount in USD        1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Hapus data dengan kolom Amount in USD Mengandung Alphabet

In [21]:
def komaa(x):
    return x.replace(',','')

In [22]:
df['Amount in USD'] = df['Amount in USD'].apply(komaa)

In [23]:
df['Undisclosed'] = df['Amount in USD'].str.isalpha()

In [24]:
drop_index = df[df['Undisclosed'] == True].index
df = df.drop(drop_index)
df = df.drop('Undisclosed', axis = 1)

In [30]:
dropLagi = df[df['Amount in USD'].str.contains('x')].index
df = df.drop(dropLagi)

In [34]:
df['Amount in USD'] = df['Amount in USD'].apply(lambda x : x.replace('+', ''))

In [35]:
df['Amount in USD'] = df['Amount in USD'].apply(lambda x : x.replace('.00', ''))

In [39]:
df['Amount in USD'] = df['Amount in USD'].astype('int64')

### Ubah type data kolom Amount in USD Menjadi int64 , ubah dulu semua koma di data menjadi string kosong dan ubah juga selain angka menjadi string kosong

### Cari Lima Startup Yang Mendapat Pendanaan Paling Banyak

### Cari Lima Investor Yang mengeluarkan uang paling banyak

### Cari lima industri Vertical dengan Pendanaan Paling Banyak